<div class="form-group">
    <div class="menu-option">
        <label for="exampleInputEmail1">Add/Remove Node</label>
        <div class="input-group remove-node">
            <button type="button" class="btn btn-info" (click)="addNode()"><i class="fas fa-plus-circle"></i></button>
            <input type="text" maxlength="2" minlength="0" class="radius form-control mb-2 input-text" id="inlineFormInput" [(ngModel)]="node" placeholder="nodes">
            <div class="input-group-append">
                <button type="button" class="btn btn-info" (click)="removeNode()"><i class="fas fa-minus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="menu-option">
        <label for="exampleInputEmail1">Add Edge</label>
        <div class="input-group">
            <div class="input-group">
                <input type="text" maxlength="2" class="form-control mb-2 input-text" id="inlineFormInput" [(ngModel)]="addSourceEdge" placeholder="nodes">
                <input type="text" maxlength="2" class="form-control mb-2 input-text" id="inlineFormInput" [(ngModel)]="addTargetEdge" placeholder="nodes">
                <div class="input-group-append">
                    <button type="button" class="btn btn-info" (click)="addAresta()"><i class="fas fa-random"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-option">
        <label for="exampleInputEmail1">Remove Edge</label>
        <div class="input-group">
            <div class="input-group">
                <input type="text" maxlength="2" class="form-control mb-2 input-text" id="inlineFormInput" [(ngModel)]="removeSourceEdge" placeholder="nodes">
                <input type="text" maxlength="2" class="form-control mb-2 input-text" id="inlineFormInput" [(ngModel)]="removeTargetEdge" placeholder="nodes">
                <div class="input-group-append">
                    <button type="button" class="btn btn-info" (click)="removeAresta()"><i class="fas fa-random"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-option">
        <label for="exampleInputEmail1">Get neighborhood</label>
        <div class="input-group">
            <input type="text" maxlength="2" class="form-control mb-2 input-text" id="inlineFormInput" [(ngModel)]="vizinhosNode" placeholder="nodes">
            <input type="text" class="form-control mb-2 input-text" [value]="neighborhoods" id="inlineFormInput" disabled>
            <div class="input-group-append">
                <button type="button" class="btn btn-info" (click)="getVizinhos()"><i class="fas fa-random"></i></button>
            </div>
        </div>
    </div>
</div>