.page {
    //width: 100%;
    height: 82vh;
    overflow: hidden;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #15202b;
    border: 1px solid #38444d;
    border-radius: 4px;
  }
  .form-group {
    padding: 7px 7px 1px;
    //display: flex;
    //flex-direction: row;
}
label {
    color: #fff;
    margin-bottom: auto;
    font-size: 0.8rem;
    font-weight: 500;
}
button {
    margin-right: 8px; 
}

.menu-option { 
    padding-bottom: 10px;
}

.btn-info {
    height: 83%;
    border-radius: 5px;
}

.input-group{
    width: 42%;
}