.page {
    height: 82vh;
    overflow: hidden;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #15202b;
    border: 1px solid #38444d;
    border-radius: 4px;
  }

.btn-info {
    height: 83%;
    border-radius: 5px;
}

.input-group{
    width: 41.7%;
}

::ng-deep {
    .nav-tabs {
        border-bottom: 1px solid #38444d !important;
        margin-bottom: 5px;
        .nav-item {
            .nav-link {
                color: whitesmoke !important;
                &.active {
                    background-color: #15202b;
                    border-color: #38444d #38444d #15202b !important;
                    border-left: none;
                    border-top: none;
                }
                &.nav-link:hover {
                    border-color: #38444d #38444d #15202b !important;
                }
            }
        }
    }
}