
<div class="row">
	<div class="col-3">
		<og-graph-side-menu></og-graph-side-menu>
	</div>
	<div class="col">
		<div class="page">
			<ngx-graph
				[links]="graphs.edges"
				[nodes]="graphs.nodes"
				[curve]="curve"
				[draggingEnabled]="false">
				<ng-template #nodeTemplate let-node>
				<svg:g class="node">
					<svg:circle [attr.r]="node.dimension.width/2" [attr.cx]="node.dimension.width/2" [attr.cy]="node.dimension.width/2" [attr.fill]="node.data.color" />
					<svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
				</svg:g>
				</ng-template>
			</ngx-graph>
		</div>
	</div>
</div>
