/* Add application styles & imports to this file! */
html, body {
    margin: 0; 
    height: 100%; 
    overflow-x: hidden;
    background-color: #10171e;
}

.side-menu {
    margin-top: 6.5%;
    margin-left: 6.5%;
    background-color: #15202b;
    background-clip: inherit;
    border: 1px solid #38444d;
    line-height: inherit;
    border-radius: 4px;
}

* {
    font-family: "Open Sans";
    font-weight: 400;
}

.form-group {
    padding: 7px 7px 1px;
    .menu-option { 
        padding-bottom: 10px;
        button {
            margin-right: 8px; 
        }
        label {
            color: #fff;
            margin-bottom: auto;
            font-size: .9rem;
            font-weight: 500;
        }
    }
}

.fa-times {
    color: #fff;
    position: absolute;
    right: 41px;
    top: 3px;
    cursor: pointer;
}

.btn-info {
    height: 83%;
    border-radius: 5px;
    background-color: #07559a !important;
    border-color: #07559a !important;
}

.btn-primary {
    background-color: #07559a !important;
    border-color: #07559a !important;
}

.btn-primary:hover {
    background-color: #368bd6 !important;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 1px;
}