/* Add application styles & imports to this file! */
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: #10171e;
}

.side-menu {
    margin-top: 6.5%;
    margin-left: 2%;
    background-color: #15202b;
    background-clip: inherit;
    border: 1px solid #38444d;
    line-height: inherit;
    border-radius: 4px;
    p{
        color: #fff;
    }
}
